[Unit]
Description=latex_templater - A web service for latex templates.

[Service]
Type=simple
ExecStart=uwsgi --uwsgi-socket /run/latex_templater.sock --plugins python \
    --wsgi-file /usr/share/web_services/latex_templater/main.py

DynamicUser=true

UMask=027

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
